doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Guns N' Roses
		link(rel="stylesheet", href="css/toast.css")
		link(rel="stylesheet", href="css/button.css")
		link(rel="stylesheet", href="css/layout.css")
		link(rel="stylesheet", href="css/nav.css")
		link(rel="stylesheet", href="css/jumbotron.css")
		link(rel="stylesheet", href="css/albums.css")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js", defer)
		script(src="js/nav.js", defer)
	body
		.nav-wrapper
			.nav
				img(src="images/logo.png")
				a.btn(href="#top")
					p Through the ages
				a.btn(href="#albums")
					p Albums
		.container
			img.menu-icon(src="images/menu.png") 
			a(name="top")
			.jumbotron
				img(src="images/band-name.jpg").band-name
				br
				img(src="images/guns.jpg").guns
				p.lead
					| Guns N' Roses is an American hard rock band from Los Angeles formed in 1985. The lineup consisted of vocalist Axl Rose, lead guitarist Slash, rhythm guitarist Izzy Stradlin, bassist Duff McKagan, and drummer Steven Adler. The current lineup consists of Rose, Slash, McKagan, keyboardists Dizzy Reed and Melissa Reese, guitarist Richard Fortus and drummer Frank Ferrer.
				.jumbotron-btn
					a(href="https://en.wikipedia.org/wiki/Guns_N'_Roses", target="_blank") read more
			a(name="albums")
			.albums
				p.lead
					| The band has released six studio albums, accumulating sales of more than 100 million records worldwide, including shipments of 45 million in the United States, making them one of the world's best-selling bands of all time.
				.row
					.col.col--1-of-3.col--m-1-of-2
						.album
							.btn
								a(target="_blank", href="https://en.wikipedia.org/wiki/Appetite_for_Destruction") Appetite for Destruction
							.image-wrapper
								img(src="images/cover1.jpg")
								.info
									p
									| Appetite for Destruction is the debut (1987 year) studio album by Guns N' Roses. It topped the Billboard 200 and with about 30 million copies sold worldwide, it is one of the best-selling records ever.
						
					.col.col--1-of-3.col--m-1-of-2
						.album
							.btn
								a(target="_blank", href="https://en.wikipedia.org/wiki/Use_Your_Illusion_I") Use Your Illusion I
							.image-wrapper
								img(src="images/cover2.jpeg")
								.info
									p
									| Use Your Illusion I is the third studio album by Guns N' Roses. Released on September 17, 1991, It was the first of two albums released in conjunction with the Use Your Illusion Tour.	
							
					.col.col--1-of-3.col--m-1-of-2
						.album
							.btn
								a(target="_blank", href="https://en.wikipedia.org/wiki/Use_Your_Illusion_II") Use Your Illusion II
							.image-wrapper
								img(src="images/cover3.jpg")
								.info
									p
									| Use Your Illusion II is more serious and ambitious than I, but it's also considerably more pretentious. Featuring no less than four songs that run over six minutes, II is heavy on epics
							
